body{
    background: lightblue;
}
h1, h2, ul, p, a{
    margin: initial; /* 0 */
    padding: initial; /* 0 */
    
}

a.instagram{
    color: black;
    text-decoration: none;
}

.insta-img{

    vertical-align:top; /* 이미지는 inline 요소이기에 vertical aling -top을 통해 이미지 뜬 구간을 막아준다 */
    width: 18px;
   


}

 /* *{
    margin: 0;
    padding: 0;
 } 모르는 마진 패딩값 공간이 있다면 이 코드를 적용해보자 */

li{
    list-style: none;
}

.wrap {
 background-color: #ddd;
    width: 800px;
    margin: 30px auto;
    border: 10px solid #778899;
    text-align: center; /*inline 요소 정렬 */
}

.header .profile-img{
    border: 4px solid #fff;
    width:150px;
    aspect-ratio: 1 / 1;
    object-fit:cover;
    border-radius: 30px;
   /* margin-bottom: 30px; */
}

.header{
    background-color: #D3D3D3;
    color: #708090;
    padding: 100px 0;
   
}


.header h1{
    margin: 30px auto;
    border-bottom: 4px solid; /*border 색을 주지 않았지만 
    h1의 부모인 header가 white를 가지고 있기 때문에 컬러값을 주지 않아도 그대로 상속받는다 */
    width: 200px;
  
    
}

.contents{
    text-align: left;
 
}


.section{
    background-color: white;
    margin: 30px;
    padding: 30px;
    background-image: url(고윤정.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right 40px center;

  
}

.section h2{
    margin: 10px auto;
    /* margin-bottom: 20px; */
}
/*.section의 skills 이기 때문에 .section이 정의 된 뒤에 작성을 해야 함*/
.skills {
    background-image: url(고윤정2.jpg);
    background-size: 100px;
    
}



.footer{
    background-color: #f4f4f4;
    color: lightgray;
    /* margin: 50px auto; */
    
}



